@charset "utf-8";
* {
	margin: 0px;
}
img{
	border: 0px;
}
.main-slider {
	background-color: #ccc;
	border: 1px solid #000000;
	height: 230px;
	width: 1022px;
	overflow: hidden;
	
}
.main-slider .slider-large-image {
	float: left;
	width: 1000px;
	overflow: hidden;
	margin-right: 3px;
}
.main-slider .slider-large-image .large-image {
	height: 230px;
	width: 1000px;
	overflow: hidden;
}

.main-slider .slider-siderbar {
	float: right;
	width: 15px;
	margin-top: 3px;
	margin-right: 3px;
	overflow:hidden;
	clear: right;
}
.main-slider .slider-siderbar div{
	background: #555;
	color: #ccc;
	clear: right;
	cursor:pointer;
	margin-bottom: 3px;
	text-align: center;
}
